.main-container-new-channel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.new-channel-container{
    display: flex;
    flex-direction: column;
    width: 700px;    
    --saf-0: rgba(var(--sk_foreground_low_solid,221,221,221),1);
    border: solid 1px var(--saf-0);
    border-radius: 4px;
    box-shadow: 0 4px 12px #0000001a;
    margin-top: 20px;
    padding: 20px;
}

.new-channel-container input{
    
    border: 1px solid var(--saf-0);
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 36px;
    margin: 10px 0 10px;
    padding: 3px 12px 5px;
    padding-right: 12px;
    font-size: 15px;
    line-height: normal;
}

.new-channel-container .botones button{
    background-color: #4a154b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 28px;
    font-weight: 700;
    border-radius: 8px;
    min-width: 122px;
    height: 36px;
    padding: 0 12px 1px;
    font-size: 15px;
}

.new-channel-container .botones{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.new-channel-container form label{
    font-weight: 700;
    font-size: 20px;

    color: #4a154b;
}

.new-channel-container .ayuda{
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #808080;}