.workspace-list{
    display: flex;
    flex-direction: column;
    width: 700px;    
    --saf-0: rgba(var(--sk_foreground_low_solid,221,221,221),1);
    border: solid 1px var(--saf-0);
    border-radius: 4px;
    box-shadow: 0 4px 12px #0000001a;
    margin-top: 20px;
  }
  
  .workspace-list .title {
    border-bottom: solid 1px rgba(var(--sk_foreground_low_solid,221,221,221),1);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 24px;
    display: flex;

  }
  
  .workspace-list .title h4  {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: var(--custom-font-tracking-body, inherit);
}

  .workspace-list .workspace {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  
  }

  .workspaces-add{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 650px;
    border-radius: 15px;
    background-color: #f4ede480;
    gap: 10px;
    justify-content: space-between;
    margin: 40px 0;
  }
  .workspaces-add p{
    margin: 0;
    font-size: 18px;
    color: #808080;
  }
  .workspaces-add img{
    height: 50px;
    width: 50px;
    min-width: 44px;
    border-radius: 10%;
    line-height: 44px;
  }

  .workspaces-add button{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px ;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 600;
  }

  .workspaces-add button:hover{
    background-color: #fafafa;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {

    .workspace-list {
      max-width: 90%;
      margin: 0 ;
    }

    .workspaces-add{
      display: flex;
      flex-direction: column;
      max-width: 90%;
      padding: 10px;
    }
  }

  @media screen and (max-width: 320px) {

    .workspace-list {
      max-width: 95%;
      margin: 0 ;
    }

    .workspaces-add {
      max-width: 90%;
      margin: 0;
    }

    .workspaces-add p{
      font-size: 14px;
    }

    .workspaces-add img{
      display: none;
    }

    .workspaces-add button{
      font-size: 14px;
    }
    
  }