@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.workspaces-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    justify-content: space-between; 
    transition: all 0.3s ease;
    max-width: 800px;
    font-family: 'Lato', sans-serif;

}

.workspaces-header h2 {
  margin: 0 ;
  font-size: 34px;
  color: #4a154b;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.workspaces-header h2 span{
  color: #000;
}

.workspaces-header .select {
  font-size: 17px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #808080;
}
.workspaces-header .logo{
  display: flex;
  align-items: center;
  padding: 30px 0 40px;
  
}
.workspaces-header .logo img{
    width: 145px;
    height: 30px;
}

.workspaces-header .iconos svg {
    cursor: pointer;
    font-size: 1.5rem;
  }
  
 
  .workspaces-header.search-visible .form-busqueda {
    display: flex;
    width: 92%;
    margin-top: 0.5rem;
    margin-right: 0;
  }
  
  .workspaces-header.search-visible .iconos {
    display: none; 
  }

  .workspaces-header.search-visible .logo {
    display: none; 
  }

   
@media screen and (max-width: 768px) {
  .workspaces-header{
   max-width: 90%;
   padding: 0 10px;
  }
  .workspaces-header .select{
   font-size: 16px;
  }
  .workspaces-header .logo {
   padding: 5px ;
  }
 }
 
 @media screen and (max-width: 320px) {
   .workspaces-header h2 span{
     display: none;
   }
 
   .workspaces-header .select {
    text-align: center;
    font-size: 12px;
   }
 
 }