.chanels-header{
    background-color: #4a154b;
    display: flex;
    align-items: center;
    padding: 15px;
    
    justify-content: space-between; 
    font-family: 'Lato', sans-serif;
    
}

.chanels-header .logo{
    width: 400px;
    margin-right: 10px;
    margin-left: 20px;
}

.chanels-header .logo img{
    width: 120px
}

.chanels-header .iconos{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    gap : 10px;
    
}

.chanels-header .ayuda{
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px;
    gap : 10px;
    justify-content: flex-end;
    
}

.chanels-header input{
    background-color: #6D4E72;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    width: 60vw;
    flex: 1;
    
}

.chanels-header .logo .menu-button {
    display: none;
  }

@media screen and (max-width: 768px) {
    .chanels-header .iconos{
        display: none;
    }
    .chanels-header .ayuda{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .chanels-header{
        flex-direction: column;
    }

    .chanels-header .logo{
        margin-bottom: 5px;
        justify-content: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .chanels-header .logo .menu-button {
        display: flex;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
      }

      .chanels-header .close{
        display: flex;
        position: absolute;
        left: 80vw;
        top: 85px;
        z-index: 1000;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
      }
      .chanels-header input{
        width: 90vw;
        
    }
}