.form-busqueda {
  display: flex;
  justify-content: center;
  
  background-color: #075e54;
  border-radius: 4px;
}

.form-busqueda input {
  background-color: #6D4E72;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  
  flex: 1;
  
}


@media screen and (max-width: 768px) {
    .form-busqueda input{
        width: 300px;  
}
}